.header { 
    margin: 0;
    &__logo { 
        display: flex;
        justify-content: center;
    }
    &__menu { 
        display: flex;
        justify-content: flex-end;
        color: #000000;
        font-size: 26px;
        margin-right: 140px;
    }
    &__link { 
        &:hover { 
            color: #965050;
            text-decoration: none;
        }
    }
}